<section class="work section" id="work">
  <h2 class="section-title">Proyectos</h2>

  <div class="work__container bd-grid">
    <article class="container">
      <div class="card">
        <div class="imgBx">
          <img src="./assets/img/l1.png" />
        </div>
        <div class="contentBx">
          <h2>Proyecto 1</h2>
          <div class="size">
            <h3>Stack:</h3>
            <span><i class='bx bxl-react' ></i></span>
            <span><i class='bx bxl-javascript' ></i></span>
            <span><i class='bx bxl-css3' ></i></span>
            <span><i class='bx bxl-nodejs' ></i></span>
          </div>


          <a>Ver demo</a>



        </div>
      </div>
    </article>
    <article class="container">
      <div class="card">
        <div class="imgBx">
          <img src="./assets/img/l2.png" />
        </div>
        <div class="contentBx">
          <h2>Proyecto 2</h2>
          <div class="size">
            <h3>Stack:</h3>
            <span><i class='bx bxl-react' ></i></span>
            <span><i class='bx bxl-javascript' ></i></span>
            <span><i class='bx bxl-css3' ></i></span>
            <span><i class='bx bxl-nodejs' ></i></span>
          </div>


          <a>Ver demo</a>



        </div>
      </div>
    </article>
    <article class="container">
      <div class="card">
        <div class="imgBx">
          <img src="./assets/img/l3.png" />
        </div>
        <div class="contentBx">
          <h2>Proyecto 3</h2>
          <div class="size">
            <h3>Stack:</h3>
            <span><i class='bx bxl-react' ></i></span>
            <span><i class='bx bxl-javascript' ></i></span>
            <span><i class='bx bxl-css3' ></i></span>
            <span><i class='bx bxl-nodejs' ></i></span>
          </div>


          <a>Ver demo</a>



        </div>
      </div>
    </article>
    <article class="container">
      <div class="card">
        <div class="imgBx">
          <img src="./assets/img/l4.png" />
        </div>
        <div class="contentBx">
          <h2>Proyecto 4</h2>
          <div class="size">
            <h3>Stack:</h3>
            <span><i class='bx bxl-react' ></i></span>
            <span><i class='bx bxl-javascript' ></i></span>
            <span><i class='bx bxl-css3' ></i></span>
            <span><i class='bx bxl-nodejs' ></i></span>
          </div>


          <a>Ver demo</a>



        </div>
      </div>
    </article>
    <article class="container">
      <div class="card">
        <div class="imgBx">
          <img src="./assets/img/l55.jpg" />
        </div>
        <div class="contentBx">
          <h2>Proyecto 5</h2>
          <div class="size">
            <h3>Stack:</h3>
            <span><i class='bx bxl-react' ></i></span>
            <span><i class='bx bxl-javascript' ></i></span>
            <span><i class='bx bxl-css3' ></i></span>
            <span><i class='bx bxl-nodejs' ></i></span>
          </div>


          <a>Ver demo</a>



        </div>
      </div>
    </article>
    <article class="container">
      <div class="card">
        <div class="imgBx">
          <img src="./assets/img/l66.jpg" />
        </div>
        <div class="contentBx">
          <h2>Proyecto 6</h2>
          <div class="size">
            <h3>Stack:</h3>
            <span><i class='bx bxl-react' ></i></span>
            <span><i class='bx bxl-javascript' ></i></span>
            <span><i class='bx bxl-css3' ></i></span>
            <span><i class='bx bxl-nodejs' ></i></span>
          </div>


          <a>Ver demo</a>



        </div>
      </div>
    </article>



  </div>
</section>
