<section class="home section">
  <div class="home__container containers grid">
      <h1 class="home__title">
        Hola,<br>Soy <span class="home__title-color">Grimaldo</span><br>
        BackEnd Developer
      </h1>
    <div class="home__content">
      <a href="https://www.linkedin.com/in/gsotocuya" target="_blank" class="button">Contacto</a>

    </div>
  </div>
</section>

<!--
<section class="home bd-grid" id="home">
  <div class="home__data" data-sr-id="0" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 2s cubic-bezier(0.5, 0, 0, 1) 0.2s, transform 2s cubic-bezier(0.5, 0, 0, 1) 0.2s;">
    <h1 class="home__title">
      Hola,
      <br>Soy <span class="home__title-color">Grimaldo</span><br>
      BackEnd Developer
    </h1>

    <a href="https://www.linkedin.com/in/gsotocuya" target="_blank" class="button">Contacto</a>
  </div>

  <div class="home__social">
    <a href="https://twitter.com/gsotocuya" target="_blank" class="home__social-icon" data-sr-id="22" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 2s cubic-bezier(0.5, 0, 0, 1) 0.2s, transform 2s cubic-bezier(0.5, 0, 0, 1) 0.2s;"><i class="bx bxl-twitter"></i></a>
    <a href="https://www.instagram.com/gsotocuya/" class="home__social-icon" data-sr-id="23" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 2s cubic-bezier(0.5, 0, 0, 1) 0.2s, transform 2s cubic-bezier(0.5, 0, 0, 1) 0.2s;"><i class="bx bxl-instagram-alt"></i></a>
    <a href="https://www.linkedin.com/in/gsotocuya" class="home__social-icon" data-sr-id="24" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 2s cubic-bezier(0.5, 0, 0, 1) 0.2s, transform 2s cubic-bezier(0.5, 0, 0, 1) 0.2s;"><i class="bx bxl-linkedin-square"></i></a>
  </div>

  <article class="home__img" data-sr-id="2" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -48, 0, 1); transition: opacity 2s cubic-bezier(0.5, 0, 0, 1) 0.4s, transform 2s cubic-bezier(0.5, 0, 0, 1) 0.4s;">
    <img class="box" src="https://avatars.githubusercontent.com/u/118828231?v=4">
    <img class="box two">
  </article>
</section>
-->
